#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <40>;                 /* <--- How long time until max speed is reached */
    delay-ms = <0>;
};

&mmv {
    acceleration-exponent = <1>;
    delay-ms = <0>;
    time-to-max-speed-ms = <500>;             /* <--- How long time until max speed is reached (default: 500) */
};


/ {
    behaviors {
        mouse_mode: mouse_mode {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_MODE";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <125>;
            flavor = "tap-preferred";
            quick-tap-ms = <75>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {

            bindings = <
&kp GRAVE  &kp Q  &kp W  &kp E       &kp R      &kp T        &kp Y    &kp U    &kp I      &kp O    &kp P     &kp MINUS
&kp TAB    &kp A  &kp S  &kp D       &kp F      &kp G        &kp H    &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
&mo 1      &kp Z  &kp X  &kp C       &kp V      &kp B        &kp N    &kp M    &kp COMMA  &kp DOT  &kp FSLH  &mo 2
                         &kp LSHIFT  &kp SPACE  &kp LCTRL    &kp ESC  &kp RET  &kp BSPC
            >;
        };

        beta {

            bindings = <
&trans      &kp N1     &kp N2        &kp N3        &kp N4             &kp N5          &kp N6          &kp N7           &kp N8    &kp N9     &kp N0  &kp EQUAL
&kp C_MUTE  &kp LG(X)  &kp LEFT_WIN  &kp LEFT_ALT  &kp TAB            &kp ESC         &kp LEFT        &kp UP           &kp DOWN  &kp RIGHT  &trans  &kp BSLH
&trans      &kp C_PP   &kp C_PREV    &kp C_NEXT    &kp C_VOLUME_DOWN  &kp C_VOL_UP    &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LBKT  &kp RBKT   &trans  &trans
                                     &kp LSHIFT    &kp DEL            &trans          &kp DEL         &trans           &trans
            >;
        };

        gamma {

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans        &trans    &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &bt BT_CLR    &kp LEFT  &kp UP        &kp DOWN      &kp RIGHT     &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans
                        &trans  &trans  &trans        &trans    &trans        &trans
            >;
        };
    };
};
