if SHIELD_TBKBLU_LEFT
 
config ZMK_KEYBOARD_NAME
    default "TBKblu"
 
config ZMK_SPLIT_ROLE_CENTRAL
    default y
 
endif
 
if SHIELD_TBKBLU_LEFT || SHIELD_TBKBLU_RIGHT
 
config ZMK_SPLIT
    default y
 
endif