config SHIELD_TBKBLU_LEFT
    def_bool $(shields_list_contains,tbkblu_left)
    select SHIELD_TBKBLU

config SHIELD_TBKBLU_RIGHT
    def_bool $(shields_list_contains,tbkblu_right)
    select SHIELD_TBKBLU